ml_env/

Supervised_Learning/Linear_Regression/.ipynb_checkpoints/
Supervised_Learning/Logistic_Regression/.ipynb_checkpoints/
Supervised_Learning/K_Nearest_Neighbors/.ipynb_checkpoints/

Technics/Confusion_Matrix_Precision_Recall_F1_Score/.ipynb_checkpoints
Technics/Feature_Scaling/.ipynb_checkpoints
Technics/MAE_RMSE_R2Score/.ipynb_checkpoints

