ml_env/

Supervised_Learning/Linear_Regression/.ipynb_checkpoints/
Supervised_Learning/Logistic_Regression/.ipynb_checkpoints/
Supervised_Learning/K_Nearest_Neighbors/.ipynb_checkpoints/
Supervised_Learning/Decision_Tree/.ipynb_checkpoints/
Supervised_Learning/Random_Forest/.ipynb_checkpoints/
Supervised_Learning/Naive_Bayes/.ipynb_checkpoints/
Supervised_Learning/Support_Vector_Machine/.ipynb_checkpoints/


Unsupervised_Learning/K_Means_Clustering/.ipynb_checkpoints/
Unsupervised_Learning/Hierarchical_Clustering/.ipynb_checkpoints/


Technics/Confusion_Matrix_Precision_Recall_F1_Score/.ipynb_checkpoints/
Technics/Feature_Scaling/.ipynb_checkpoints/
Technics/MAE_RMSE_R2Score/.ipynb_checkpoints/
Technics/Cross_Validation/.ipynb_checkpoints/
Technics/Hyperparameter_Optimization/.ipynb_checkpoints/
Technics/Euclidean_Manhattan_Cosine_Distance/.ipynb_checkpoints/